@media screen and (max-width:800px){
    .links-header{
        text-align: center;
        padding: 40px 0 0 0;
    }
    .links-header>a{
        margin-right: 20px;
        font-size: 25px;
    }
    .text-header h1{
        font-size: 50px;
    }
    #wave1{
        height: initial;
        margin-bottom: -1%;
    }
    #wave2{
       
        height: initial;
        margin-bottom: -1%;
    }
    #wave3{
        height: initial;
        margin-bottom: 0%;
    }
    #wave4{
        height: initial;
        margin-bottom: -1%;
    }
    .title2{
        height: 100px; 
    }
    .we .sistemas img{
        width: 200px;
        height: 200px;
    }
    .img-laboratory {
        padding: 20px 93px;
        width: 60%;
    }
    .img-laboratory img{
        width: 250px;
        height: 250px;
    }
    .we-dates .information{
        width: 180px;
        height: 180px;

    }
    .we-dates .information h3{
        font-size: 60px;
    }
    .we-dates .information h4{
        font-size: 30px;
    }

    .ciudadelauatf img{
        width: 250px;
        height: 250px;
    }
    .textlaboratory {
        margin: 2%;
    }
    .contacts{
        height: initial;
    }
    .partFooter{
        height: initial;
    }
}
@media screen and (max-width:500px){
    .links-header{
        text-align: center;
        padding: 1px 0 0 0;
    }
    .links-header>a{
        margin-right: 20px;
        font-size: 12px;
    }
    .text-header h1{
        font-size: 30px;
    }
    .title2{
        height: 116px;
    }
    .about-us h2{
        font-size: 30px;
    }
    .we .sistemas img{
        width: 100px;
        height: 100px;
    }
    .laboratories h2{
        font-size: 30px;
    }
    .statistics h2{
        font-size: 30px;
    }
    .ciudadela h2{
        font-size: 30px;
    }
    .more h3{
        font-size: 25px;
    }
    .contacts{
        font-size: 30px;
    }
    .img-laboratory {
        padding: 10px 63px;
        width: 30%;
    }

    .img-laboratory img{
        width: 125px;
        height: 125px;
    }
    .we-dates .information{
        width: 120px;
        height: 120px;

    }
    .we-dates .information h3{
        font-size: 30px;
    }
    .we-dates .information h4{
        font-size: 20px;
    }
}
