*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 2em;
}
header{
    width: 100%;
    height: 800px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(92, 134, 212, 0.5), hsl(219, 67%, 72%,0.4), hsl(240, 51%, 67%,0.4)), url(../img/ingsistemas.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(88, 127, 236, 0.6), hsl(219, 67%, 72%,0.6), hsl(240, 51%, 67%,0.6)), url(../img/ingsistemas.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.links-header{
    text-align: right;
    padding: 30px 20px 5px 0px;
}
.links-header>a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 30px;
}
nav{
    width: 100%;
    height: 80px;
    background: #5000ca;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
}

#wave1{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 350px; overflow: hidden;
}
#wave2{
    width: 100%;
    bottom: 0;
    height: 455px; overflow: hidden;
}
#wave3{
    width: 100%;
    bottom: 0;
    height: 350px; overflow: hidden;
}
#wave4{
    width: 100%;
    bottom: 0;
    height: 455px; overflow: hidden;
}
.text-header{
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}
.text-header > a{
    background: white;
    display: inline-block;
    width: 190px;
    margin: 25px 0 0 0;
    text-align: center;
    color: red;
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 40px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.4);
}
.text-header a:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.text-header h1{
    font-size: 70px;
    font-weight: 500;
    color: azure;
}
.about-us{
    background-color: #5000ca;
}
.about-us h2{
    font-size: 60px;
    font-weight: 500;
    color: azure;
}
.title2{
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.we .sistemas{
    padding: 60px 0;
    width: 45%;
    max-width: 1000px;
}
.we{
    display: flex;
    justify-content: space-evenly;
    margin: 10%;
}
.sistemas{
    color: azure;
}
.we .sistemas img{
    width: 300px;
    height: 300px;
    border: 3px solid white;
    border-radius: 50%;
}
.img-laboratory{
    padding: 20px 0;
    width: 80%;
    max-width: 1300px;
    margin: auto;
}
.img-laboratory{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-laboratory img{
    width: 500px;
    height: 500px;
    border: 5px solid #5000ca;
    border-radius: 50%;
}
.textlaboratory{
    margin: 10%;
}
.textlaboratory h2{
    font-size: 60px;
    font-weight: 500;
    color: rgb(11, 3, 126);
}
.textlaboratory > a{
    background: blue;
    display: inline-block;
    width: 220px;
    margin: 25px 0 0 0;
    text-align: center;
    color: wheat;
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 40px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.4);
}
.textlaboratory a:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
p{
    font-size: 1.1em;
}
.statistics{
    background-color: #5000ca;
}
.statistics h2{
    font-size: 60px;
    font-weight: 500;
    color: azure;

}
.we-dates{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.information{
    color: azure;
    background:#5000ca;
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    border:3px solid azure;
}
.information h3{
    font-size: 100px;
    font-weight: 300;
    margin-top: 15%;
}
.information h4{
    font-size: 50px;
    font-weight: 300;
}
.ciudadelauatf{
    padding: 20px 0;
    width: 80%;
    max-width: 1300px;
    margin: auto;
}
.ciudadelauatf{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ciudadelauatf img{
    width: 500px;
    height: 500px;
    border: 5px solid #5000ca;
    border-radius: 50%;
}

.more{
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}
.more{
    width: 100%;
    height: 800px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(9, 83, 221, 0.5), rgba(3, 74, 206, 0.4), rgba(7, 7, 240, 0.4)), url(../img/uatf.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(6, 71, 248, 0.6), rgba(6, 84, 228, 0.6), rgba(9, 9, 221, 0.6)), url(../img/uatf.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: 50%;
    position: relative;
}
.more img{
    width: 300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 50%;
}
.more h3{
    font-size: 50px;
    font-weight: 400;
    color: azure;
}
.more p{
    margin-top: 2%;
    font-size: 20px;
    font-weight: 300;
    color: azure;
}
.contacts{
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}
.contacts h2{
    font-size: 60px;
    font-weight: 500;
    color: #5000ca;
}
.contacts p{
    font-size: 20px;
    font-weight: 400;
    color: #5000ca;
}
.partFooter{
    display: flex;
    height: 250px;
    width: 30%;
    justify-content: center;
    flex-direction: column;
}
.partFooter{
    font-size: 20px;
    font-weight: 400;
}
.masinformacion{
    background-color: black;
    display: flex;   
    justify-content: space-evenly;
    margin: auto;
    color: white;
}

.social i{
    font-size: 60px;
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 38px;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 15px;
    cursor: pointer;
}
.nosotros{
    font-size: 30px;
    font-weight: 400;
}

